@import '../../partials/variables';
@import '../../partials/mixins';

.page-paragraph {
  margin: $vertical-spacing * 0.5 0 $vertical-spacing;
  font-size: 15px;
  text-align: justify;
  line-height: 2;
  color: var(--gray-dark);

  @include use-mq-manager($mq-bp-xl) {
    font-size: 17px;
  }
}
