@import '../../partials/variables';
@import '../../partials/mixins';

.page-heading {
  position: relative;
  margin: $vertical-spacing 0 $vertical-spacing;
  padding-bottom: $vertical-spacing;

  text-align: center;
  text-transform: uppercase;
  font-weight: 300;

  $list: ('--is-small', (26px, 28px)), ('--is-normal', (32px, 34px)), ('--is-large', (38px, 40px));

  @each $item in $list {
    $modifier: nth($item, 1);

    $sizes: nth($item, 2);
    $small-size: nth($sizes, 1);
    $large-size: nth($sizes, 2);

    &#{$modifier} {
      font-size: $small-size;

      @include use-mq-manager($mq-bp-xl) {
        font-size: $large-size;
      }
    }
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 100px;
    transform: translate(-50%, -2px);
    background-color: var(--orange-dark);
  }
}
