@import '../../partials/variables';
@import '../../partials/mixins';

.contact {
  @include use-wrapper();
  padding: $vertical-padding-xs 0 $vertical-padding-sm;

  &__details {
    padding: $vertical-padding-xs 0;

    @include use-mq-manager($mq-bp-lg) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
