@import '../../partials/variables';
@import '../../partials/mixins';

.filter-list {
  @include use-mq-manager($mq-bp-xs) {
    display: flex;
    flex-wrap: wrap;
  }

  list-style: none;
  text-align: center;

  &__item {
    flex-grow: 1;

    @include use-mq-manager($mq-bp-xs) {
      &:nth-of-type(1),
      &:nth-of-type(4),
      &:nth-of-type(5) {
        flex-grow: 2;
      }
    }
  }

  &__btn {
    @include normalize-button();

    width: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: var(--font-family-sans-serif);

    &--is-selected {
      background-color: var(--yellow);
    }
  }
}
