$vertical-spacing: 30px;
$horizontal-spacing: 30px;

$vertical-padding-xs: 20px;
$vertical-padding-sm: 40px;
$vertical-padding-md: 60px;
$vertical-padding-large: 80px;

$scaling-auto: auto;
$scaling-stretch: stretch;

// 0. Use vars to store keys values:
$mq-bp-ss: 'breakpoint-ss';
$mq-bp-xs: 'breakpoint-xs';
$mq-bp-sm: 'breakpoint-sm';
$mq-bp-md: 'breakpoint-md';
$mq-bp-lg: 'breakpoint-lg';
$mq-bp-xl: 'breakpoint-xl';

// 1. Create map with MQ keys and values
$media-queries: (
  $mq-bp-ss: '(min-width: 320px)',
  $mq-bp-xs: '(min-width: 533px)',
  $mq-bp-sm: '(min-width: 768px)',
  $mq-bp-md: '(min-width: 768px) and (min-height: 1024px)',
  $mq-bp-lg: '(min-width: 1024px)',
  $mq-bp-xl: '(min-width: 1280px)',
);
