@import '../../partials/variables';
@import '../../partials/mixins';

.error-info {
  $code-font-size: 120px;
  $message-font-size: 25px;
  $link-btn-font-size: 12px;

  @include use-wrapper();
  @include center-with-flex();

  height: 100vh;
  text-align: center;

  &__code,
  &__message {
    font-weight: 400;
  }

  &__code {
    font-size: $code-font-size;
    text-transform: uppercase;
    line-height: 1;
    color: var(--gray-dark);
  }

  &__message {
    margin: 1.2em 0 1.2em;
    font-size: $message-font-size;
    color: var(--gray);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__link-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5em 1em;
    width: 14em;
    background-color: var(--orange-dark);
    color: var(--white);
    font-size: $link-btn-font-size;
    text-decoration: none;
    text-transform: capitalize;
  }

  @include use-mq-manager($mq-bp-lg) {
    &__code {
      font-size: $code-font-size * 1.5;
    }
    &__message {
      font-size: $message-font-size * 1.5;
    }
    &__link-btn {
      font-size: $link-btn-font-size * 1.5;
    }
  }
}
