@import '../../partials/_mixins';

.main-header {
  height: 75vh;
  background-image: url(../../images/salmon_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  color: white;

  &__glass-pane {
    @include center-with-flex();
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);

    a {
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 25px;
      background-color: var(--orange-dark);
      font-size: 15px;
      line-height: 3;
      text-transform: uppercase;
      text-decoration: none;
      color: white;

      @media screen and (min-width: 1024px) {
        margin-top: 50px;
        font-size: 20px;
      }
    }
  }

  &__intro-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media screen and (min-width: 768px) and (min-height: 1024px) {
      font-size: 60px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 80px;
    }
  }

  &__catchline {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;

    @media screen and (min-width: 1024px) {
      font-size: 25px;
    }
  }
}
