@import '../../partials/variables';
@import '../../partials/mixins';

.main-header {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  color: white;

  $backgrounds: (home, 'restaurant'), (menu, 'salmon'), (events, 'jause'), (chef, 'chef'), (gallery, 'catering'),
    (contact, 'telephone');

  @each $id, $image in $backgrounds {
    &--is-showing-#{$id} {
      background-image: url(../../images/#{$image}_1280.jpg);
    }
  }

  &__glass-pane {
    @include center-with-flex();
    flex-direction: column;
    height: 100%;
    padding: 0 $horizontal-spacing / 2;
    background-color: rgba(0, 0, 0, 0.6);

    a {
      @include normalize-button();

      display: block;
      margin-top: $vertical-spacing * 0.7;

      @include use-mq-manager($mq-bp-lg) {
        margin-top: $vertical-spacing * 1.5;
      }
    }
  }

  &__intro-heading {
    $margin: $vertical-spacing * 0.8;

    margin-top: $margin;
    margin-bottom: $margin;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include use-mq-manager($mq-bp-md) {
      font-size: 60px;
    }

    @include use-mq-manager($mq-bp-lg) {
      font-size: 80px;
    }
  }

  &__catchline {
    margin-bottom: $vertical-spacing * 0.6;
    font-size: 20px;
    letter-spacing: 1px;

    @include use-mq-manager($mq-bp-lg) {
      font-size: 25px;
    }
  }
}
