@import '../../partials/_mixins';

.navigation {
  $nav-height: 40px;

  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-height;

  background-color: var(--black);

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 25px;
    height: auto;
    background-color: transparent;

    &--is-anchored {
      position: fixed;
      top: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &__links-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    list-style: none;
    background-color: var(--black);
    overflow: hidden;

    transition: height 250ms;

    @media screen and (min-width: 768px) {
      @include use-wrapper();
      @include center-with-flex($justification: space-evenly);

      position: static;
      height: 1.5 * $nav-height;
      background-color: transparent;
    }

    &--is-shown {
      height: 190px;
      padding-bottom: 5px;
    }
  }

  &__link-item {
    a {
      display: block;
      font-size: 15px;
      padding: 5px 0;
      text-align: center;
      text-decoration: none;
      color: var(--white);

      @media screen and (min-width: 768px) {
        // font-size: 18px;
      }

      @media screen and (min-width: 1280px) {
        font-size: 18px;
      }

      &.active {
        color: var(--orange-dark);
        font-weight: 700;
      }
    }
  }

  &__hamburger {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--orange-dark);
    font-size: 25px;
    line-height: $nav-height;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
