.animator {
  overflow: hidden;

  & > * {
    animation-duration: 750ms;
    animation-fill-mode: both;
    animation-play-state: paused;

    @keyframes pull-up {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes fade-out {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &--is-pulling-up > * {
    animation-name: pull-up;
  }

  &--is-fading-out > * {
    animation-name: fade-out;
  }

  &--is-playing > * {
    animation-play-state: running;
  }
}
